<h1 style="color:red">
    Información GET View Controller
</h1>
<a asp-controller="Informacion"
   asp-action="Index">
    Volver al menú
</a>
<hr/>
<h1 style="color:fuchsia">
    Datos recibidos: @ViewBag.Nombre, @ViewBag.Edad
</h1>