@model Coche

<h1>Controller 1 de Coche</h1>

<img src="~/images/@Model.Imagen"
     style="width: 300px; height: 300px"/>
<h1 style="color: blue">
    Marca: @Model.Marca, Modelo: @Model.Modelo
</h1>
<h2 style="color:red">
    Velocidad máxima: @Model.VelocidadMaxima
</h2>
<h2 style="color:orange">
    Velocidad actual: @Model.Velocidad
</h2>

<form method="post">
    <button class="btn-success" name="accion" value="acelerar">
        Acelerar
    </button>
    <button class="btn-danger" name="accion" value="frenar">
        Frenar
    </button>
</form>

