@model Coche

<h1 style="color:red">
    Marca: @Model.Marca, Modelo: @Model.Modelo
</h1>
<img src="~/images/herbie.jpg"
     style="width: 150px; height: 150px"/>
<h1 style="color:white; background-color: fuchsia">
    Velocidad Máxima: @Model.VelocidadMaxima
</h1>

