<h1>Menu de Prácticas</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="EjemploColecciones">
            Comics Colecciones
        </a>
    </li>
</ul>