<h1>Menu de Prácticas</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="EjemploColecciones">
            Comics Colecciones
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="TablaMultiplicar">
            Tabla multiplicar
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="SumarNumerosGet"
           asp-route-numero1="7"
           asp-route-numero2="7">
            Sumar números Get 7-7
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="SumarNumerosGet"
           asp-route-numero1="24"
           asp-route-numero2="29">
            Sumar números Get 24-29
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="SumarNumerosPost">
            Sumar números Post
        </a>
    </li>
</ul>